<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>节点</th>
                            <th>告警名称</th>
                            <th>告警级别</th>
                            <th>告警状态</th>
                            <th>标签</th>
                            <th>summary</th>
                            <th>描述</th>
                            <th>annotations</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>