<form data-url="{{ urlfor `K8sDeployController.Modify` }}" data-callback="reload_table">
    <input type="hidden" name="id" value="{{ .object.Id }}" />
    <div class="form-group row">
        <label class="col-2 col-form-label" for="name">name<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control  {{ if .valid.HasErrors }}is-invalid{{ end }}"  type="text" id="name" name="name" placeholder="用户名" value="{{ .object.Name }}" />
            {{ if .valid.HasErrors }}
                <div class="form-control-feedback text-danger">
                    {{ index .valid.Errors 0 }}
                </div>
            {{ end }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label" for="namespace">namespace<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control" type="text" id="namespace" name="namespace"  placeholder="namespace" value="{{.object.Namespace}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label" for="image">image<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control" type="text" id="image" name="image" placeholder="image" value="{{ .object.Image }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label" for="replicas">副本数<span class="text-danger">*</span></label>
        <div class="col-10">
            <input class="form-control {{ if .valid.HasErrors }}is-invalid{{ end }}" type="text" id="replicas" name="replicas" placeholder="副本数" value="{{ .object.Replicas }}"/>
            {{ if .valid.HasErrors }}
                <div class="form-control-feedback text-danger">
                    {{ index .valid.Errors 0 }}
                </div>
            {{ end }}
        </div>
    </div>
</form>