<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                    <div class="row">
                        <div id="main" class="col-md-3" style="height:400px;"></div>
                        <div id="main2" class="col-md-3" style="height:400px;"></div>
                        <div id="main3" class="col-md-3" style="height:400px;"></div>
                        <!--<div id="main4"  class="col-md-3" style="height:400px;"></div> -->
                        <div class="col-md-3" style="height: 400px;" >
                            <div style="vertical-align: middle;text-align:center;">
                                <span style="font-size: 15em;margin: auto">{{ .virtualMachineCount }}</span>
                                <h5 style="display: block;">虚拟机个数</h5>
                            </div>
                        </div>
                    </div>
                <div id="main1" style="width:100%;height:400px;"></div>
            </div>
        </div>
    </div>
</div>